.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon

# ignore node_modules
node_modules

# ignore minified files
public/minified
public/minified/storage

# Floobits
.floo
.floobit
.floo
.flooignore
